.bottom-nav {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-flow: row | wrap;
    justify-content: space-evenly;
    background-color: white;
    border-top: 1px solid black;
    align-items: center;
    padding-top: 2%;
}

.container img {
    width: 100%;
    margin-top: 3%;
    z-index: 2;
}

.material-icons {
    padding-left: 40%;
}

.icon-text {
    padding-left: 47%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.icon-om {
    padding-left: 41.5%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.icon-redovisning {
    padding-left: 18%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.icon-github {
    padding-left: 27%;
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

.active {
    color: green;
}

.greet {
    position: fixed;
    margin-top: 5%;
    padding-left: 2.5%;
    width: 46%;
    z-index: 1;
}

html {
    font-size: 100%;
}

h1 {
    font-size: 2.4rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    margin-bottom: 0.6rem;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

h4 {
    margin-bottom: 0.2rem;
    margin-top: 1.8rem;
    line-height: 1.4;
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}

h4:first-of-type {
    margin-top: 0.6rem;
}

p {
    margin-top: 0.2rem;
    font-size: 1.05rem;
    line-height: 1.4;
    font-family: 'Playfair Display', serif;
}

.ominfo {
    text-align: center;
}

.linkRepo {
    padding-left: 10%;
    color: blue;
    margin-top: 0.2rem;
    line-height: 1.4;
    font-family: 'Playfair Display', serif;
}

.k1 {
    font-size: 1.5rem;
    padding-bottom: 1%;
    text-align: center;
}

.question {
    font-size: 1.1rem;
    width: 98.5%;
    padding-left: 1.4%;
    padding-bottom: 1%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.answer {
    font-family: 'Playfair Display', serif;
    width: 89%;
    padding-left: 5%;
    text-align: justify;
    line-height: 1.45;
}


@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}
